* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#companyName {
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-size: 40px;
}
nav {
    background-color: rgb(255, 38, 0);
    padding: 22px;
    font-size: 32px;
}

.nav-links {
    color: rgb(255, 255, 255);
}

.cactus-1 {
    width: 250px;
}

.peace-sign {
    font-size: 30px;
}

.cart-button {
    text-align: center;
    border: solid silver 2px;
    width: 254px;
    font-family: 'Otomanopee One', sans-serif;
}

.button-color {
    background-color: rgb(107, 240, 206);
    font-weight: 800;
    font-family: 'Otomanopee One', sans-serif;
}
